.profile-container {
	width: 100%;
	height: 100%;
	margin: auto;
}

.user-profile-wrapper {
	width: 90%;
	height: 100%;
	margin: 20px auto;
	text-align: center;
}

.user-profile-wrapper p {
	padding-bottom: 10px;
}

.food-items ul {
	padding-bottom: 10px;
}
